body {
    background-color: #0d2227;
    color: #f1f1f1;
    font-family: 'Amatic SC';
    font-size: 26px;
}

header {
    text-align: left;
    overflow: hidden;
    background-size: cover;
}

main {
    padding: 0 25% 0 25%;
}

ul {
    margin-left: 25%;
    list-style-type: none;
    padding-left: 0;
    display: flex;
}

footer ul li {
    padding-right: 1em;
}

li {
    padding-right: 3em;
}

h1 {
    margin: 0 0 0 25%;
    padding-top: 45.5%;
    color: #f1f1f1;
}

a {
    text-decoration: none;
    font-weight: 800;
    color: #f1f1f1;
    overflow-wrap: break-word;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

img {
    max-width: 100%;
}

table {
    margin-left: 6em;
    margin-top: -0.5em;
}

tr td:first-child {
    padding-left: 0.5em;
}

tr td:nth-child(2), tr th:nth-child(2), tr td:nth-child(3), tr th:nth-child(3) {
    padding-left: 0.75em;
}

tr th:nth-child(2) {
    text-align: left;
}

.header-image {
    height: 90%;
}

.album-picture {
    width: 50%;
    height: 50%;
}

.albums {
    display: flex;
}

.albums-vote {
    max-width: 200px;
    max-height: 200px;
    margin: 0 2em 2em 0;
    width: 100%;
}

.albums-voted {
    max-width: 200px;
    max-height: 200px;
    padding: 1em 0 0 0;
    width: 100%;
}

.voting {
    margin-top: 1em;
    display: flex;
}

.in {
    max-width: 194px;
    width: 100%;
    font-family: 'Amatic SC';
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-right: 3em;
}

.vote-box1, .vote-box2, .vote-box3 {
    margin-right: 2em;
    max-width: 290px;
    min-width: 100px;
}

.grecaptcha-badge {
    display: none;
}

#vote-image1, #vote-image2, #vote-image3 {
    padding-bottom: 1em;
    border-bottom: 3px solid #0d2227;
    opacity: 1;
    transition: .5s ease;
}

#vote-image1:hover, #vote-image2:hover, #vote-image3:hover {
    opacity: 0.3;
    transition: .5s ease;
}

@media screen and (max-width: 800px) {
    main {
        padding: 0 15% 0 15%;
    }

    h1 {
        margin: 0 0 0 15%;
    }

    ul {
        display: block;
        margin-left: 15%;
    }

    table {
        margin-left: 0;
    }

    tr td:first-child {
        padding-left: 0;
    }

    tr td:nth-child(3) {
        text-align: right;
    }

    .albums {
        display: block;
    }

    .album-picture {
        width: 100%;
        height: 100%;
        margin-bottom: 1em;
    }

    .voting {
        display: block;
    }
}